[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot/
    branch = 2022.02.x
[submodule "buildroot-assignments-base"]
	path = buildroot-assignments-base
	url = https://github.com/cu-ecen-aeld/buildroot-assignments-base.git
